<h1>Project Details</h1>

<form method="post">
    <fieldset>
        <label for="name" class="col-2">Name:</label>
        <input name="name" id="name" required value="{{project.name}}" />
    </fieldset>
    <fieldset>`
        <label for="dueDate" class="col-2">Due Date:</label>
        <input name="dueDate" id="dueDate" required type="date" value="{{project.dueDate}}" />
    </fieldset>
    <fieldset>
        <label for="course" class="col-2">Course:</label>
        <select name="course" id="course" >
            {{#each courses}}
                {{createOption this.courseCode ../project.course}}
            {{/each}}
        </select>
    </fieldset>
    <fieldset>
        <label for="status" class="col-2">Status:</label>
        <select name="status" id="status">
            {{createOption 'To Do' ../project.status}}
            {{createOption 'Doing' ../project.status}}
            {{createOption 'Done' ../project.status}}
        </select>
    </fieldset>

    <button class="offset-3 btn btn-primary">Save</button>
</form>
