<h1>{{title}}</h1>

{{#if user}}
    <a href="/projects/add">Add a New Project</a>
{{/if}}

<table class="table table-striped table-hover">
    <thead>
    <th>Name</th>
    <th>Due Date</th>
    <th>Course</th>
    <th>Status</th>
    {{#if user}}
        <th>Actions</th>
    {{/if}}
    {{#each projects}}
        <tr>
            <td>
                {{#if ../user}}
                <a href="/projects/edit/{{this._id}}">
                {{this.name}}
                </a>
                {{else}}
                    {{this.name}}
                {{/if}}
            </td>
            <td>{{shortDate this.dueDate}}</td>
            <td>{{this.course}}</td>
            <td>{{this.status}}</td>
            {{#if ../user}}
            <td>
                <a href="/projects/delete/{{this._id}}" class="btn btn-danger"
                   onclick="return areYouSure();">
                    Delete
                </a>
            </td>
            {{/if}}
        </tr>
    {{/each}}
    </thead>
</table>

